@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Kanit:wght@400;600&display=swap');


:root {
    --font-kanit: 'Kanit', sans-serif;
    --font-heebo: 'Heebo', sans-serif;

    --color-blue: #B3D9C4;
    --color-green: #D9ED92;
    --color-actif: #DDEEE5;
    --color-inactif: #F1D2D2;
    --color-beige: #FCF9F6;
    --color-dark: #03071E;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

a {
    color: unset;
    text-decoration: none;
}

body {
    font-family: var(--font-kanit);
}

.dashboard-btn {
    background: none;
    border: 1px solid #000;
    padding: 0.2em;
    width: 5em;
    transition: 0.5s;
    margin-top: 1em;
}

.dashboard-btn:hover {
    background-color: var(--color-dark);
    color: #FFFFFF;
}

.btn-actif {
    background: var(--color-actif);
    border: none;
    padding: 0.3em 1em;
    color: #4C9966;
    border-radius: 30px;
    font-size: 16px;
}

.btn-desactive {
    background: var(--color-inactif);
    border: none;
    padding: 0.3em 1em;
    color: #994C4C;
    border-radius: 30px;
    font-size: 16px;
}